/* Styling the whole page font */
* {
  font-family: "poppins", sans-serif;
}

/* Styling for the header section */

header {
  display: flex; /* Use flexbox to layout the header contents */
  background-color: #FED22E; /* Set the background color to #FED22E */
}

/* Styling for the logo image */
#logo {
  display: block; /* Display the logo as a block element */
    margin-top: 26px; /* Set the top margin-top to 26px */
    margin-left: 15px; /* Set the top margin-left to 15px */
    width: 125px; /* Set the width of the logo */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
  }

/* Styling for the grid container */
.grid-container {
  margin-top: 0px; /* Set the top margin to 0px */
}

/* Styling for the navigation menu */
nav ul.menu {
  list-style: none; /* Remove the default list styles */
  padding: 0; /* Remove the padding */
  margin: 0; /* Remove the margin */
}

nav ul.menu li {
  display: inline-block; /* Display the list items horizontally */
}

nav ul.menu li a {
  display: block; /* Display the links as block elements */
  padding: 30px; /* Add padding to the links */
  text-decoration: none; /* Remove the underline from the links */
  color: #745EDA;
}

/* Styling for headings and paragraphs */
h1,
h2,
p {
  text-align: center; /* Center align the headings and paragraphs */
  margin-top: 10px; /* Set the top margin of the headings and paragraphs */
}

/* Styling for the selected text */
::selection {
  color:#745EDA;
  background:#FED22E;
}

/* Styling for the sidebar */
.sidebar {
  border: 1px solid #ccc;
  padding: 10px;
}

.menu-vertical {
  list-style-type: none;
  padding: 0;
}

.menu-vertical li {
  margin-bottom: 5px;
}

.menu-vertical li a {
  text-decoration: none;
  color: #745EDA;
}

.menu-vertical li a:hover {
  color: #FED22E;
}

/* Styling for cards */
.card {
  background-color: #745EDA;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

/* Styling for content areas */
.content {
  margin-bottom: 20px;
}

/* Styling for the footer section */
footer {
  color: #000000; /* Set the text color of the footer */
  background-color: #FED22E; /* Set the background color of the footer */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center align the content horizontally */
  align-items: center; /* Center align the content vertically */
  padding-top: 50px; /* Add padding at the top of the footer */
}

.appstore {
  padding-bottom: 2px;
  margin-right: 20px;
  width: 20px;
  height: auto;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 40px;
  display: flex;
  text-align: center;
  background-color: #FED22E;
}
  
  